/* 헤더 색 */
#header {
	background-color: #C5DFF8;
	top: 0;
	padding: 5px;
	padding-top: 10px;
	width: 100%; /* 헤더의 너비를 화면 전체 크기로 설정 */
	z-index: 1000;
}

/* WeatherFit 로고 */
#title-logo {
	width: 330px;
	margin-left: 11%;
}

.title {
	margin: 0;
	padding: 0;
}

/* 버튼 */
.btn-blue {
	position: relative;
	border: none;
	display: inline-block;
	padding: 5px 10px;
	margin-top: 3px;
	border-radius: 8px;
	/* font-family: "paybooc-Light", sans-serif; */
	text-decoration: none;
	font-weight: 600;
	transition: 0.25s;
	background-color: #7895CB;
	color: white;
	font-weight: bolder;
}

.btn-blue:hover {
	background-color: #DDE6ED;
	cursor: pointer;
	color: #4A55A2;
}

/* 탈퇴 버튼 */
#btn-deleteUser {
	position: relative;
	border: none;
	display: inline-block;
	width: 80%;
	margin-top: 3px;
	border-radius: 8px;
	/* font-family: "paybooc-Light", sans-serif; */
	text-decoration: none;
	font-weight: 600;
	transition: 0.25s;
	background-color: rgb(245, 87, 87);
	color: white;
	font-weight: bolder;
}

/* 로그아웃 버튼 */
#btn-logout {
	position: relative;
	border: none;
	display: inline-block;
	width: 80%;
	margin-top: 3px;
	border-radius: 8px;
	text-decoration: none;
	font-weight: 600;
	transition: 0.25s;
	background-color: #A0BFE0;
	color: white;
	font-weight: bolder;
}

#btn-logout:hover {
	background-color: #7895CB;
	cursor: pointer;
}

/* 게시글 작성 버튼 */
#btn-create-post {
	position: fixed; /* 고정 위치 */
	bottom: 15%;
	right: 10%;
	width: 55px;
	height: 55px;
	font-size: 50px !important;
	justify-content: center;
	align-items: center;
	display: flex;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	z-index: 9999;
}

#plus {
	margin-bottom: 12px;
}

/* 사용자 프로필사진 드롭다운 */
button.btn-user.dropdown-toggle {
	margin-left: 10px;
	background-color: transparent;
	border: none;
}

/* 드롭다운 */
.dropdown-menu {
	text-align: center;
}

#dropdown-user.show {
	transform: translate(-97px, 45px) !important;
}

/* 사용자 프로필사진 밑 닉네임 */
.user-container {
	display: flex;
	flex-direction: column; /* 세로 방향으로 요소들을 정렬 */
	align-items: center;
	justify-content: center;
}

#navi-nick {
	font-weight: bolder;
	margin-top: 5px;
	font-size: 14px;
	color: #4A55A2;
	padding-left: 10px;
}

/* 메뉴 */
.nav-link {
	color: #4A55A2 !important;
	text-decoration: none !important;
	text-decoration-line: none !important;
	font-weight: bolder !important;
	font-size: 18px;
}

.nav-link:hover {
	color: white !important;
	transform: scale(1.1);
	cursor: pointer;
}

#nav-menu {
	display: flex;
	align-items: center; /* 가로 방향으로 항목들을 중앙에 정렬 */
	justify-content: center; /* 세로 방향으로 항목들을 중앙에 정렬 (필요한 경우) */
	height: 100%; /* 부모 요소의 전체 높이를 차지하도록 설정 */
}