@charset "EUC-KR";

/* 모달창 중앙 정렬*/
.modal-dialog {
	display: flex;
	align-items: center; /* 중앙 정렬 */
	min-height: calc(100% - ( .5rem * 2));
}

.modal-content {
	margin: auto;
}

.modal-header {
	border-bottom: none;
	padding-bottom: 0px;
	
}

.modal-title {
	color: #4A55A2;
	font-size: 25px;
}

/* 로그인 모달 - 회원가입 버튼 */
#btn-join:hover {
	font-weight: bolder;
	cursor: pointer;
	color: #4A55A2
}

/* 로그인 인풋 간격 */
input#floatingInput {
	margin-bottom: 7px;
	margin-top: 10px;
}

/* 로그인, 모달창 */
#modal-login {
	width: 70%;
}

/* 게시글 확인 모달창 */
#modal-postdetail {
	width: 80%;
}

/* 작성자 닉네임 영역 스타일 */
#cmt-user {
	padding: 10px;
	max-height: 20%;
	max-width: 300px;
	font-weight: bolder;
	text-align: left;
	padding-left: 20px;
	background-color: none;
	border-bottom: none;
	font-weight: bolder;
}

/* 채팅 아이콘 */
#message {
	width: 25px;
	margin-left: 1rem;
	margin-bottom: 0.2rem;
}

#message:hover {
	transform: scale(1.05);
	cursor: pointer;
	fill: #4A55A2;
}

/* 사진 영역 스타일 */
#cmt-img {
	width: 429px;
    height: 500px;
	max-width: 429px;
	max-height: 500px;
	border-bottom: none;
	background-color: #fff; /* 배경 색상 */
	padding: 10px; /* 여백 */
	text-align: center; /* 텍스트 가운데 정렬 */
}

/* 닫기버튼 */
#btn-postclose{
	float:right;
}

/* 게시글 내용 영역 스타일 */
#cmt-content {
	max-height: 40%;
	background-color: #fff; /* 배경 색상 */
	padding: 10px; /* 여백 */
	overflow-y: auto; /* 내용이 넘칠 경우 스크롤 */
	overflow-x: hidden;
	border-bottom: none;
}

/* 해시태그 영역 스타일 */
#cmt-hashtag {
	background-color: #fff; /* 배경 색상 */
	color: rgb(93, 93, 214); /* 글자 색상 */
	padding: 10px; /* 여백 */
	text-align: left; /* 텍스트 가운데 정렬 */
	overflow-y: auto; /* 내용이 넘칠 경우 스크롤 */
	overflow-x: hidden;
}

/* 좋아요 버튼 */
#like {
	padding: 10px;
	padding-bottom: 12px;
}

#like-heart {
	width: 25px;
	fill: #ddd;
}

#like-heart.active {
	fill: red;
}

/* 댓글 영역 스타일 */
#cmt-cmt {
	position: relative;
	max-height: 40%;
	height: 40%;
	border-bottom: none;
	background-color: #e9ecef; /* 배경 색상 */
	padding: 10px; /* 여백 */
	overflow-y: auto; /* 내용이 넘칠 경우 스크롤 */
	overflow-x: hidden;
	border-radius: 8px;
}

#comment-txt {
	padding: 10px;
	text-decoration: underline;
	font-weight: bold;
}



/* 댓글입력창 */
#comment-input {
	margin-top:auto;
	padding-right: 0px;
}

/* 댓글등록 버튼 */
#insert-cmt {
	width: 50px;
	height: 35px;
	font-size: 15px;
}

#cmtsubmit-wrap {
	padding-left: 8px;
}


.flex-container {
    display: flex; /* Flexbox 레이아웃 활성화 */
    justify-content: space-between; /* 아이템들을 양 끝으로 정렬 */
    align-items: center; /* 아이템들을 세로 중앙에 정렬 */
    width: 100%; /* 컨테이너의 너비 설정 */
}

/* 필요에 따라 추가 스타일을 적용할 수 있습니다 */
#btn-postclose {
    margin-right: 10px; /* 버튼과 div 사이의 간격 조정 */
}

#cmt-content {
    flex-grow: 1; /* div가 남은 공간을 모두 차지하도록 설정 */
}


/* 스크롤바 스타일 */
#cmt-content::-webkit-scrollbar, #cmt-hashtag::-webkit-scrollbar,
	#cmt-cmt::-webkit-scrollbar {
	width: 10px; /* 스크롤바 너비 */
}

#cmt-content::-webkit-scrollbar-thumb, #cmt-hashtag::-webkit-scrollbar-thumb,
	#cmt-cmt::-webkit-scrollbar-thumb {
	background: #DDE6ED; /* 스크롤바 색상 */
	border-radius: 5px; /* 스크롤바 모서리 둥글게 */
}

#cmt-content::-webkit-scrollbar-thumb:hover, #cmt-hashtag::-webkit-scrollbar-thumb:hover,
	#cmt-cmt::-webkit-scrollbar-thumb:hover {
	background: #7895CB; /* 스크롤바 색상 (호버 시) */
}