

/* 게시글 카드 클릭할 때 */
.card {
    cursor: pointer;
}

.card:hover {
    background-color: #f0f0f0;
}


.main{
    width: 100%;
    height: 100%;
}

#container-post {
    margin-left: 25%;
    margin-right: 10%;
}

/* 오른쪽 치우침 수정 */

@media (max-width: 768px) {
    #container-post {
        margin-left: 10%; /* 작은 화면에서 좀 더 좁게 설정 */
    }
}

@media (max-width: 576px) {
    #container-post {
        margin-left: 5%; /* 더 작은 화면에서 더 좁게 설정 */
    }
}



#img-profile{
    width: 30px;
    height: 30px;
}


#img-post{
    /* width: 600px; */
    max-width: 400px;
    width: 100%;
    height: 580px;
}

#post-txt{
    margin-top: 5rem;
}

#post-hashtag{
    margin-top: 1rem;
    color:blue;
    
}


/* 댓글작성창 */
#comment-form{
    margin-top: 1.2rem;
}

#btn-submit{
    width: 92%;
}


#message{
    width: 25px;
    margin-left: 1rem;
}


/* 좋아요 */
#like{
    margin-top: 1rem;
}


#like-heart{
    width: 20px;
    fill: #ddd;
}

#like-heart.active{
    fill: red;
}