li {
	list-style: none;
	display: inline;
}

#weather-link {
	width: 8%;
	height: 60px;
	/* background-color: #A0BFE0; */ 
	border-color: #7895CB;
	border-radius: 10%;
	border-style: solid;
	border-width: 3px;
	text-decoration: none;
	color: #4A55A2;
	font-weight: bolder;
	text-align: center;
	justify-content: center;
	align-items: center;
}

#weather-sky {
	margin-top: 2%;
	margin-left: 10%;
}

#weather-t1h {
	margin-top: 2.93%;
	margin-left: 8%;
	margin-right: 8%;
}